<?xml version="1.0" encoding="utf-8"?>
<!---->

<!---->

<configuration>
	<configSections>
		<section name="supportLinkConfiguration" type="Dell.GCS.ImageUploader.Client.Core.Configuration.SupportLinkConfigurationSection, Dell.GCS.FileTransfer.Client.Core" />
		<section name="workflowConfiguration" type="Dell.GCS.ImageUploader.Client.Core.Configuration.WorkFlowConfigurationSection, Dell.GCS.FileTransfer.Client.Core" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Dell.GCS.ImageUploader.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Dell.GCS.ImageUploader.Client.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
			<section name="Dell.GCS.ImageUploader.Client.Core.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<supportLinkConfiguration>
		<links>
			<add name="Support" display="Dell_Support" source="Docs/Support.rtf" title="Dell Support" width="480" height="480" localize="False" />
			<add name="EULA" display="EULA" source="Docs/Eula.rtf" title="EULA" width="640" height="480" localize="True" />
			<add name="LogFile" display="Log_File" source="FileTransfer.log" title="Log File" width="960" height="480" localize="False" />
			<add name="Licenses" display="Licenses" source="Docs/Licenses.rtf" title="Licenses" width="480" height="480" localize="True" />
		</links>
	</supportLinkConfiguration>
	<workflowConfiguration>
		<pages>
			<page name="LoginPage" pageType="Dell.GCS.ImageUploader.Client.Pages.LoginPage, FileTransfer" validatorType="Dell.GCS.ImageUploader.Client.Core.Validation.NoWorkRequiredValidator, Dell.GCS.FileTransfer.Client.Core" backButtonEnabled="false" />
			<page name="SiSelectionPage" pageType="Dell.GCS.ImageUploader.Client.Pages.SiSelectionPage, FileTransfer" validatorType="Dell.GCS.ImageUploader.Client.Core.Validation.NoWorkRequiredValidator, Dell.GCS.FileTransfer.Client.Core" backButtonEnabled="false" />
			<page name="CCUploadPage" pageType="Dell.GCS.ImageUploader.Client.Pages.CCUploadPage, FileTransfer" validatorType="Dell.GCS.ImageUploader.Client.Core.Validation.NoWorkRequiredValidator, Dell.GCS.FileTransfer.Client.Core" backButtonEnabled="true" />
			<page name="ImageSelectionPage" pageType="Dell.GCS.ImageUploader.Client.Pages.ImageSelectionPage, FileTransfer" validatorType="Dell.GCS.ImageUploader.Client.Core.Validation.NoWorkRequiredValidator, Dell.GCS.FileTransfer.Client.Core" backButtonEnabled="true" />
			<page name="ImageSelectionDetailPage" pageType="Dell.GCS.ImageUploader.Client.Pages.ImageSelectionDetailPage, FileTransfer" validatorType="Dell.GCS.ImageUploader.Client.Core.Validation.NoWorkRequiredValidator, Dell.GCS.FileTransfer.Client.Core" backButtonEnabled="true" />
			<page name="SummaryPage" pageType="Dell.GCS.ImageUploader.Client.Pages.SummaryPage, FileTransfer" validatorType="Dell.GCS.ImageUploader.Client.Core.Validation.NoWorkRequiredValidator, Dell.GCS.FileTransfer.Client.Core" backButtonEnabled="true" />
			<page name="ScanPage" pageType="Dell.GCS.ImageUploader.Client.Pages.ScanPage, FileTransfer" validatorType="Dell.GCS.ImageUploader.Client.Core.Validation.NoWorkRequiredValidator, Dell.GCS.FileTransfer.Client.Core" backButtonEnabled="false" />
			<page name="ScanSummaryPage" pageType="Dell.GCS.ImageUploader.Client.Pages.ScanSummaryPage, FileTransfer" validatorType="Dell.GCS.ImageUploader.Client.Core.Validation.NoWorkRequiredValidator, Dell.GCS.FileTransfer.Client.Core" backButtonEnabled="false" />
			<page name="UploadPage" pageType="Dell.GCS.ImageUploader.Client.Pages.UploadPage, FileTransfer" validatorType="Dell.GCS.ImageUploader.Client.Core.Validation.NoWorkRequiredValidator, Dell.GCS.FileTransfer.Client.Core" backButtonEnabled="false" />
			<page name="Complete" pageType="Dell.GCS.ImageUploader.Client.Pages.UploadCompletePage, FileTransfer" validatorType="Dell.GCS.ImageUploader.Client.Core.Validation.NoWorkRequiredValidator, Dell.GCS.FileTransfer.Client.Core" backButtonEnabled="false" />
		</pages>
	</workflowConfiguration>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="TransportWithMessageSecured" maxReceivedMessageSize="262144" openTimeout="00:05:00" closeTimeout="00:05:00" sendTimeout="00:05:00">
					<readerQuotas maxDepth="32" maxArrayLength="16384" maxStringContentLength="8192" />
					<security mode="Transport">
						<transport clientCredentialType="None" />
						<message clientCredentialType="Certificate" />
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint name="IAuthentication" binding="wsHttpBinding" bindingConfiguration="TransportWithMessageSecured" contract="IAuthentication">
				<identity>
					<dns value="AUSPWIMUPWEB01.aus.amer.dell.com" />
				</identity>
			</endpoint>
			<endpoint name="IProjectGateway" binding="wsHttpBinding" bindingConfiguration="TransportWithMessageSecured" contract="IProject">
				<identity>
					<dns value="AUSPWIMUPWEB01.aus.amer.dell.com" />
				</identity>
			</endpoint>
			<endpoint name="IGeoLocation" binding="wsHttpBinding" bindingConfiguration="TransportWithMessageSecured" contract="IClient">
				<identity>
					<dns value="AUSPWIMUPWEB01.aus.amer.dell.com" />
				</identity>
			</endpoint>
			<endpoint name="IClientDownload" binding="wsHttpBinding" bindingConfiguration="TransportWithMessageSecured" contract="IClient">
				<identity>
					<dns value="AUSPWIMUPWEB01.aus.amer.dell.com" />
				</identity>
			</endpoint>
			<endpoint name="ISettingsGateway" binding="wsHttpBinding" bindingConfiguration="TransportWithMessageSecured" contract="ISettings">
				<identity>
					<dns value="AUSPWIMUPWEB01.aus.amer.dell.com" />
				</identity>
			</endpoint>
			<endpoint name="ILoggingGateway" binding="wsHttpBinding" bindingConfiguration="TransportWithMessageSecured" contract="IClient">
				<identity>
					<dns value="AUSPWIMUPWEB01.aus.amer.dell.com" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<log4net>
		<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="FileTransfer.log" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="1" />
			<countdirection value="0" />
			<maximumFileSize value="2MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%utcdate] [%date] [%thread] [%-5level] [%logger] - %message%newline" />
			</layout>
			<encoding value="UTF-8" />
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<appender name="GatewayAppender" type="Dell.GCS.ImageUploader.Library.Gateway.Logging.GatewayAppender, Dell.GCS.FileTransfer.Library.Gateway">
			<bufferSize value="10" />
			<lossy value="false" />
			<logLevel value="INFO" />
			<batch value="true" />
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingFileAppender" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="GatewayAppender" />
		</root>
	</log4net>
	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="true" />
	</system.net>
</configuration>